USE [master]
GO
/****** Object:  Database [SHOP_PET_Database]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE DATABASE [SHOP_PET_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOP_PET_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SHOP_PET_Database.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SHOP_PET_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SHOP_PET_Database_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOP_PET_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOP_PET_Database]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckStockAvailability]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CheckStockAvailability](@p_toy_id INT, @p_quantity INT)
RETURNS BIT
AS
BEGIN
    DECLARE @available_quantity INT = 0;

    SELECT @available_quantity = stock_quantity 
    FROM Toy 
    WHERE toy_id = @p_toy_id;

    IF @available_quantity IS NULL
        RETURN 0;

    RETURN CASE WHEN @available_quantity >= @p_quantity THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetAverageRating]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Function lấy điểm đánh giá trung bình cho sản phẩm
CREATE FUNCTION [dbo].[GetAverageRating](@p_toy_id INT)
RETURNS DECIMAL(3,2)
AS
BEGIN
    DECLARE @avg_rating DECIMAL(3,2);

    SELECT @avg_rating = AVG(CAST(rating AS FLOAT))
    FROM Review
    WHERE toy_id = @p_toy_id;

    RETURN ISNULL(@avg_rating, 0);
END;
GO
/****** Object:  Table [dbo].[PetSizePricing]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetSizePricing](
	[species] [nvarchar](50) NOT NULL,
	[size_group_code] [nvarchar](20) NOT NULL,
	[display_name] [nvarchar](50) NOT NULL,
	[weight_min_kg] [decimal](5, 2) NULL,
	[weight_max_kg] [decimal](5, 2) NULL,
	[bath_price_min] [decimal](10, 2) NOT NULL,
	[bath_price_max] [decimal](10, 2) NOT NULL,
	[groom_price_min] [decimal](10, 2) NOT NULL,
	[groom_price_max] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_PetSizePricing] PRIMARY KEY CLUSTERED 
(
	[species] ASC,
	[size_group_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetPetSizeGroupCode]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetPetSizeGroupCode] (@weight DECIMAL(5,2))
RETURNS NVARCHAR(20)
WITH SCHEMABINDING
AS
BEGIN
    DECLARE @result NVARCHAR(20);

    IF @weight IS NULL
        SET @result = NULL;
    ELSE IF @weight < 7.0
        SET @result = N'SMALL';
    ELSE IF @weight < 16.0
        SET @result = N'MEDIUM';
    ELSE IF @weight <= 30.0
        SET @result = N'LARGE';
    ELSE
        SET @result = N'GIANT';

    RETURN @result;
END;

GO
/****** Object:  Table [dbo].[Pet]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[pet_name] [nvarchar](100) NOT NULL,
	[species] [nvarchar](50) NOT NULL,
	[breed] [nvarchar](100) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[description] [nvarchar](max) NULL,
	[health_status] [nvarchar](max) NULL,
	[image_path] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[weight_kg] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PetWithSizePricing]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_PetWithSizePricing]
AS
    SELECT
        p.id,
        p.customer_id,
        p.pet_name,
        p.species,
        p.weight_kg,
        calc.size_group_code,
        price.display_name,
        price.weight_min_kg,
        price.weight_max_kg,
        price.bath_price_min,
        price.bath_price_max,
        price.groom_price_min,
        price.groom_price_max
    FROM dbo.Pet AS p
    CROSS APPLY (SELECT dbo.fn_GetPetSizeGroupCode(p.weight_kg) AS size_group_code) AS calc
    LEFT JOIN dbo.PetSizePricing AS price
        ON price.species = p.species
       AND price.size_group_code = calc.size_group_code;

GO
/****** Object:  Table [dbo].[PayrollRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollRecords](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeType] [varchar](10) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[TotalHours] [float] NULL,
	[HourlyRate] [decimal](10, 2) NULL,
	[TotalSalary] [decimal](12, 2) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_EmployeePayrollRecords] PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DoctorPayrollRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoctorPayrollRecords]
AS
SELECT 
    [PayrollID],
    [EmployeeID] AS [DoctorID],
    [PeriodStart],
    [PeriodEnd],
    [TotalHours],
    [HourlyRate],
    [TotalSalary],
    [CreatedAt]
FROM [dbo].[PayrollRecords]
WHERE [EmployeeType] = 'DOCTOR'
GO
/****** Object:  View [dbo].[v_PayrollRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_PayrollRecords]
AS
SELECT 
    [PayrollID],
    [EmployeeID] AS [StaffID],
    [PeriodStart],
    [PeriodEnd],
    [TotalHours],
    [HourlyRate],
    [TotalSalary],
    [CreatedAt]
FROM [dbo].[PayrollRecords]
WHERE [EmployeeType] = 'STAFF'
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeType] [varchar](10) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[CheckIn] [datetime] NOT NULL,
	[CheckOut] [datetime] NULL,
	[TotalHours] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_EmployeeAttendanceRecords] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DoctorAttendanceRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoctorAttendanceRecords]
AS
SELECT 
    [AttendanceID],
    [EmployeeID] AS [DoctorID],
    [CheckIn],
    [CheckOut],
    [TotalHours],
    [Status],
    [CreatedAt]
FROM [dbo].[AttendanceRecords]
WHERE [EmployeeType] = 'DOCTOR'
GO
/****** Object:  View [dbo].[v_AttendanceRecords]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_AttendanceRecords]
AS
SELECT 
    [AttendanceID],
    [EmployeeID] AS [StaffID],
    [CheckIn],
    [CheckOut],
    [TotalHours],
    [Status],
    [CreatedAt]
FROM [dbo].[AttendanceRecords]
WHERE [EmployeeType] = 'STAFF'
GO
/****** Object:  Table [dbo].[StaffSalary]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSalary](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeType] [varchar](10) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[HourlyRate] [decimal](10, 2) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_EmployeeSalary] PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DoctorSalary]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DoctorSalary]
AS
SELECT 
    [SalaryID],
    [EmployeeID] AS [DoctorID],
    [HourlyRate],
    [UpdatedAt]
FROM [dbo].[StaffSalary]
WHERE [EmployeeType] = 'DOCTOR'
GO
/****** Object:  View [dbo].[v_StaffSalary]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_StaffSalary]
AS
SELECT 
    [SalaryID],
    [EmployeeID] AS [StaffID],
    [HourlyRate],
    [UpdatedAt]
FROM [dbo].[StaffSalary]
WHERE [EmployeeType] = 'STAFF'
GO
/****** Object:  Table [dbo].[boarding_bookings]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boarding_bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[room_type] [nvarchar](100) NOT NULL,
	[price_per_day] [decimal](10, 2) NOT NULL,
	[boarding_days] [int] NOT NULL,
	[check_in_date] [date] NOT NULL,
	[check_out_date] [date] NOT NULL,
	[check_in_time] [nvarchar](10) NULL,
	[check_out_time] [nvarchar](10) NULL,
	[pet_info] [nvarchar](max) NULL,
	[special_notes] [nvarchar](max) NULL,
	[emergency_phone1] [nvarchar](20) NOT NULL,
	[emergency_phone2] [nvarchar](20) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BoardingAvailabilityStats]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_BoardingAvailabilityStats]
AS
SELECT 
    room_type,
    COUNT(*) AS total_bookings,
    SUM(CASE WHEN status IN (N'pending', N'Hoàn thành', N'Đã trả', N'Đã thanh toán', N'Đang thuê', N'Chờ xác nhận') THEN 1 ELSE 0 END) AS active_bookings,
    MIN(check_in_date) AS earliest_checkin,
    MAX(check_out_date) AS latest_checkout,
    SUM(boarding_days) AS total_boarding_days,
    AVG(CAST(boarding_days AS DECIMAL(10,2))) AS avg_boarding_days,
    SUM(total_price) AS total_revenue
FROM dbo.boarding_bookings
GROUP BY room_type
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](50) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[payment_status] [nvarchar](20) NULL,
	[customer_id] [int] NULL,
	[admin_id] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[paid_at] [datetime] NULL,
	[shipping_address] [nvarchar](255) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Cart]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Cart] AS
SELECT 
  oi.item_id,
  oi.order_id,
  o.customer_id,
  o.customer_id     AS customer_user_id,   -- alias tương thích
  oi.item_type,
  oi.item_ref_id,
  oi.unit_price,
  oi.quantity
FROM dbo.[Order] o
JOIN dbo.Order_Item oi ON oi.order_id = o.order_id
WHERE o.status = N'cart';
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[pet_id] [int] NOT NULL,
	[appointment_start] [datetime] NOT NULL,
	[appointment_end] [datetime] NOT NULL,
	[status] [nvarchar](30) NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[doctor_id] [int] NULL,
	[staff_id] [int] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BookingStatusCount]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_BookingStatusCount] AS
SELECT status, COUNT(*) AS cnt
FROM dbo.Booking
GROUP BY status;
-- Dùng: SELECT * FROM dbo.vw_BookingStatusCount;
GO
/****** Object:  View [dbo].[v_SalesOrder]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_SalesOrder] AS
SELECT 
  o.order_id,
  o.order_date,
  o.customer_id,
  o.customer_id     AS customer_user_id,   -- alias tương thích
  o.status,
  o.total_amount,
  o.payment_status,
  o.shipping_address
FROM dbo.[Order] o;
GO
/****** Object:  View [dbo].[v_Booking]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Booking] AS
SELECT 
  b.booking_id,
  b.customer_id,
  b.customer_id     AS customer_user_id,
  b.pet_id,
  b.appointment_start,
  b.appointment_end,
  b.status,
  b.note,
  b.created_at,
  b.doctor_id,
  b.staff_id,
  b.staff_id        AS assigned_user_id,
  b.service_id
FROM dbo.Booking b;
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[supplier_id] [int] NULL,
	[category_id] [int] NULL,
	[admin_id] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[service_id] [int] NULL,
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
	[booking_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[google_id] [nvarchar](255) NULL,
	[address_Customer] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[otp_code] [varchar](10) NULL,
	[otp_expiry] [datetime] NULL,
	[reset_token] [varchar](255) NULL,
	[reset_token_expiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ProductReview]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_ProductReview] AS
SELECT 
  r.review_id,
  r.rating,
  r.comment,
  r.created_at,
  r.product_id,
  p.name            AS product_name,
  r.customer_id,
  r.customer_id     AS customer_user_id,   -- alias tương thích
  c.name            AS customer_name
FROM dbo.Review   r
LEFT JOIN dbo.Products  p ON p.product_id  = r.product_id
LEFT JOIN dbo.Customer  c ON c.customer_id = r.customer_id;
GO
/****** Object:  Table [dbo].[PetService]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetService](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[duration] [int] NOT NULL,
	[service_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ServiceReview]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_ServiceReview] AS
SELECT 
  r.review_id,
  r.rating,
  r.comment,
  r.created_at,
  r.service_id,
  s.name            AS service_name,
  r.customer_id,
  r.customer_id     AS customer_user_id,   -- alias tương thích
  c.name            AS customer_name
FROM dbo.Review     r
LEFT JOIN dbo.PetService s ON s.service_id   = r.service_id
LEFT JOIN dbo.Customer  c ON c.customer_id   = r.customer_id;
GO
/****** Object:  Table [dbo].[admin]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoardingRoom]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardingRoom](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [nvarchar](100) NOT NULL,
	[room_type] [nvarchar](50) NOT NULL,
	[total_rooms] [int] NOT NULL,
	[price_per_day] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Service]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Service](
	[booking_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NULL,
	[duration_min] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[note] [nvarchar](max) NULL,
	[booking_service_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Booking_Service] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[StaffID] [int] NULL,
	[SenderType] [nvarchar](10) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctor_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[specialization] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecord]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecord](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[diagnosis] [nvarchar](max) NULL,
	[treatment] [nvarchar](max) NULL,
	[record_date] [datetime] NULL,
	[doctor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Message] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RelatedRequestID] [int] NULL,
	[IsHandled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftRequests]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Type] [nvarchar](20) NULL,
	[TargetDate] [date] NOT NULL,
	[FromShiftID] [int] NULL,
	[ToShiftID] [int] NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftCode] [nvarchar](20) NOT NULL,
	[ShiftName] [nvarchar](100) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[BreakMinutes] [int] NULL,
	[Location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShiftCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [nvarchar](120) NULL,
	[password] [nvarchar](255) NULL,
	[position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[name_Company] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedule]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[staff_id] [int] NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](0) NOT NULL,
	[end_time] [time](0) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
	[shift_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_OrderItem_Compact]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_OrderItem_Compact]
AS
SELECT
    item_id,
    order_id,
    product_id,
    unit_price,
    quantity,
    created_at
FROM dbo.Order_Item;
GO
/****** Object:  View [dbo].[v_OrderItem_Product]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_OrderItem_Product]
AS
SELECT
    item_id,
    order_id,
    product_id,
    unit_price,
    quantity,
    created_at
FROM dbo.Order_Item
WHERE product_id IS NOT NULL;
GO
/****** Object:  View [dbo].[v_Payments]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Payments] AS
SELECT 
  p.payment_id, p.order_id, p.amount, p.method,
  LOWER(LTRIM(RTRIM(p.status))) AS payment_status_code,
  ps.display_name,
  p.transaction_code, p.created_at, p.paid_at, p.transaction_ref
FROM dbo.Payments p
LEFT JOIN dbo.PaymentStatus ps
  ON ps.code = LOWER(LTRIM(RTRIM(p.status)));
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Admin_email]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Admin_email] ON [dbo].[admin]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AttendanceRecords_Type_ID]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_Type_ID] ON [dbo].[AttendanceRecords]
(
	[EmployeeType] ASC,
	[EmployeeID] ASC,
	[CheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_boarding_bookings_availability]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_boarding_bookings_availability] ON [dbo].[boarding_bookings]
(
	[room_type] ASC,
	[check_in_date] ASC,
	[check_out_date] ASC,
	[status] ASC
)
INCLUDE([booking_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_boarding_bookings_room_type]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_boarding_bookings_room_type] ON [dbo].[boarding_bookings]
(
	[room_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_boarding_bookings_status]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_boarding_bookings_status] ON [dbo].[boarding_bookings]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_appointment]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_appointment] ON [dbo].[Booking]
(
	[appointment_start] ASC,
	[appointment_end] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_customer_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_customer_id] ON [dbo].[Booking]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_doctor_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_doctor_id] ON [dbo].[Booking]
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_pet_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_pet_id] ON [dbo].[Booking]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_booking_status]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_status] ON [dbo].[Booking]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_service_booking_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_service_booking_id] ON [dbo].[Booking_Service]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_booking_service_service_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_booking_service_service_id] ON [dbo].[Booking_Service]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Booking_Service_BookingId]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Booking_Service_BookingId] ON [dbo].[Booking_Service]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Booking_Service_ServiceId]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Booking_Service_ServiceId] ON [dbo].[Booking_Service]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BS_service]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_BS_service] ON [dbo].[Booking_Service]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Customer_Email]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Customer_Email] ON [dbo].[Customer]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalRecord_pet_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalRecord_pet_id] ON [dbo].[MedicalRecord]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicalRecord_record_date]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicalRecord_record_date] ON [dbo].[MedicalRecord]
(
	[record_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_customer_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_customer_id] ON [dbo].[Order]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PayrollRecords_Type_ID]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_PayrollRecords_Type_ID] ON [dbo].[PayrollRecords]
(
	[EmployeeType] ASC,
	[EmployeeID] ASC,
	[PeriodStart] ASC,
	[PeriodEnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_pet_customer_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [idx_pet_customer_id] ON [dbo].[Pet]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_booking_service]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_booking_service] ON [dbo].[Review]
(
	[booking_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_customer_id]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_customer_id] ON [dbo].[Review]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Product_Filter]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_Product_Filter] ON [dbo].[Review]
(
	[product_id] ASC,
	[created_at] ASC
)
INCLUDE([customer_id],[rating]) 
WHERE ([product_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Service_Filter]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_Service_Filter] ON [dbo].[Review]
(
	[service_id] ASC,
	[created_at] ASC
)
INCLUDE([customer_id],[rating]) 
WHERE ([service_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_email]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Staff_email] ON [dbo].[Staff]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaffSalary_Type_ID]    Script Date: 11/15/2025 3:38:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_StaffSalary_Type_ID] ON [dbo].[StaffSalary]
(
	[EmployeeType] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT ('08:00') FOR [check_in_time]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT ('17:00') FOR [check_out_time]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[boarding_bookings] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[BoardingRoom] ADD  DEFAULT ((1)) FOR [total_rooms]
GO
ALTER TABLE [dbo].[BoardingRoom] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[BoardingRoom] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BoardingRoom] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF_Booking_Status]  DEFAULT (N'Chưa thanh toán') FOR [status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Booking_Service] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Booking_Service] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MedicalRecord] ADD  DEFAULT (getdate()) FOR [record_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (sysdatetime()) FOR [order_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_PaymentStatus]  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PetService] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[PetService] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PetService] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PetSizePricing] ADD  CONSTRAINT [DF_PetSizePricing_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PetSizePricing] ADD  CONSTRAINT [DF_PetSizePricing_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_stock]  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ShiftRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ShiftRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [BreakMinutes]
GO
ALTER TABLE [dbo].[WorkSchedule] ADD  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[boarding_bookings]  WITH CHECK ADD  CONSTRAINT [fk_boarding_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[boarding_bookings] CHECK CONSTRAINT [fk_boarding_customer]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Booking] NOCHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD  CONSTRAINT [FK_Booking_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([doctor_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Booking] NOCHECK CONSTRAINT [FK_Booking_Doctor]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD  CONSTRAINT [FK_Booking_Pet] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pet] ([id])
GO
ALTER TABLE [dbo].[Booking] NOCHECK CONSTRAINT [FK_Booking_Pet]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD  CONSTRAINT [FK_Booking_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Booking] NOCHECK CONSTRAINT [FK_Booking_Staff]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH NOCHECK ADD  CONSTRAINT [FK_ChatMessages_Admin] FOREIGN KEY([StaffID])
REFERENCES [dbo].[admin] ([admin_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChatMessages] NOCHECK CONSTRAINT [FK_ChatMessages_Admin]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH NOCHECK ADD  CONSTRAINT [FK_ChatMessages_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] NOCHECK CONSTRAINT [FK_ChatMessages_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK_Order_AdminId_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[admin] ([admin_id])
GO
ALTER TABLE [dbo].[Order] NOCHECK CONSTRAINT [FK_Order_AdminId_Admin]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH NOCHECK ADD  CONSTRAINT [fk_orderdetail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Detail] NOCHECK CONSTRAINT [fk_orderdetail_order]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH NOCHECK ADD  CONSTRAINT [fk_orderdetail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Order_Detail] NOCHECK CONSTRAINT [fk_orderdetail_product]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[admin] ([admin_id])
GO
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [FK_Products_admin]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_ProductCategory] FOREIGN KEY([category_id])
REFERENCES [dbo].[ProductCategory] ([category_id])
GO
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [FK_Products_ProductCategory]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[Products] NOCHECK CONSTRAINT [FK_Products_Supplier]
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [FK_Review_BookingService] FOREIGN KEY([booking_id], [service_id])
REFERENCES [dbo].[Booking_Service] ([booking_id], [service_id])
GO
ALTER TABLE [dbo].[Review] NOCHECK CONSTRAINT [FK_Review_BookingService]
GO
ALTER TABLE [dbo].[ShiftRequests]  WITH NOCHECK ADD  CONSTRAINT [FK_Request_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[ShiftRequests] NOCHECK CONSTRAINT [FK_Request_Employee]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH NOCHECK ADD  CONSTRAINT [FK_WorkSchedule_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([doctor_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkSchedule] NOCHECK CONSTRAINT [FK_WorkSchedule_Doctor]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH NOCHECK ADD  CONSTRAINT [FK_WorkSchedule_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkSchedule] NOCHECK CONSTRAINT [FK_WorkSchedule_Staff]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeAttendanceRecords_CheckOut] CHECK  (([CheckOut] IS NULL OR [CheckOut]>=[CheckIn]))
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [CK_EmployeeAttendanceRecords_CheckOut]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeAttendanceRecords_EmployeeID] CHECK  (([EmployeeID]>(0)))
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [CK_EmployeeAttendanceRecords_EmployeeID]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeAttendanceRecords_Type] CHECK  (([EmployeeType]='STAFF' OR [EmployeeType]='DOCTOR'))
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [CK_EmployeeAttendanceRecords_Type]
GO
ALTER TABLE [dbo].[boarding_bookings]  WITH CHECK ADD  CONSTRAINT [CK_boarding_bookings_Status] CHECK  (([status]=N'Đã hủy' OR [status]=N'Chưa thanh toán' OR [status]=N'Đã thanh toán' OR [status]=N'Đã trả' OR [status]=N'Hoàn thành' OR [status]=N'Đã nhận về' OR [status]=N'Đang ở' OR [status]=N'Chưa nhận thú cưng' OR [status]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[boarding_bookings] CHECK CONSTRAINT [CK_boarding_bookings_Status]
GO
ALTER TABLE [dbo].[Booking]  WITH NOCHECK ADD  CONSTRAINT [CK_Booking_Status_Allowed] CHECK  (([status]=N'Chờ xác nhận' OR [status]=N'Đã xác nhận' OR [status]=N'Đã thanh toán' OR [status]=N'Đã hủy' OR [status]=N'Yêu cầu hoàn tiền' OR [status]=N'Hoàn thành' OR [status]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[Booking] NOCHECK CONSTRAINT [CK_Booking_Status_Allowed]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH NOCHECK ADD CHECK  (([SenderType]='Staff' OR [SenderType]='Customer'))
GO
ALTER TABLE [dbo].[MedicalRecord]  WITH NOCHECK ADD  CONSTRAINT [CK_MedicalRecord_record_date_not_future] CHECK  (([record_date]<=sysutcdatetime()))
GO
ALTER TABLE [dbo].[MedicalRecord] NOCHECK CONSTRAINT [CK_MedicalRecord_record_date_not_future]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [CK_Order_PaymentStatus] CHECK  (([payment_status]='UNPAID' OR [payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='PARTIAL' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Order] NOCHECK CONSTRAINT [CK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[PayrollRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeePayrollRecords_EmployeeID] CHECK  (([EmployeeID]>(0)))
GO
ALTER TABLE [dbo].[PayrollRecords] CHECK CONSTRAINT [CK_EmployeePayrollRecords_EmployeeID]
GO
ALTER TABLE [dbo].[PayrollRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeePayrollRecords_Period] CHECK  (([PeriodEnd]>=[PeriodStart]))
GO
ALTER TABLE [dbo].[PayrollRecords] CHECK CONSTRAINT [CK_EmployeePayrollRecords_Period]
GO
ALTER TABLE [dbo].[PayrollRecords]  WITH CHECK ADD  CONSTRAINT [CK_EmployeePayrollRecords_Type] CHECK  (([EmployeeType]='STAFF' OR [EmployeeType]='DOCTOR'))
GO
ALTER TABLE [dbo].[PayrollRecords] CHECK CONSTRAINT [CK_EmployeePayrollRecords_Type]
GO
ALTER TABLE [dbo].[Pet]  WITH NOCHECK ADD CHECK  (([gender]='female' OR [gender]='male'))
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [CK_Pet_weight_positive] CHECK  (([weight_kg] IS NULL OR [weight_kg]>(0)))
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [CK_Pet_weight_positive]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price_Valid] CHECK  (([price]>=(1000) AND [price]<=(10000000)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Product_Price_Valid]
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Review]  WITH NOCHECK ADD  CONSTRAINT [CK_Review_ExactlyOneTarget] CHECK  (([product_id] IS NOT NULL AND [service_id] IS NULL OR [product_id] IS NULL AND [service_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Review] NOCHECK CONSTRAINT [CK_Review_ExactlyOneTarget]
GO
ALTER TABLE [dbo].[ShiftRequests]  WITH CHECK ADD  CONSTRAINT [CK_ShiftRequests_Type_Allowed] CHECK  (([Type]=N'Morning' OR [Type] IS NULL))
GO
ALTER TABLE [dbo].[ShiftRequests] CHECK CONSTRAINT [CK_ShiftRequests_Type_Allowed]
GO
ALTER TABLE [dbo].[StaffSalary]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeSalary_EmployeeID] CHECK  (([EmployeeID]>(0)))
GO
ALTER TABLE [dbo].[StaffSalary] CHECK CONSTRAINT [CK_EmployeeSalary_EmployeeID]
GO
ALTER TABLE [dbo].[StaffSalary]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeSalary_Type] CHECK  (([EmployeeType]='STAFF' OR [EmployeeType]='DOCTOR'))
GO
ALTER TABLE [dbo].[StaffSalary] CHECK CONSTRAINT [CK_EmployeeSalary_Type]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH NOCHECK ADD  CONSTRAINT [CK_WorkSchedule_OneOwner] CHECK  (([doctor_id] IS NOT NULL AND [staff_id] IS NULL OR [doctor_id] IS NULL AND [staff_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[WorkSchedule] NOCHECK CONSTRAINT [CK_WorkSchedule_OneOwner]
GO
ALTER TABLE [dbo].[WorkSchedule]  WITH NOCHECK ADD  CONSTRAINT [CK_WorkSchedule_Time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[WorkSchedule] NOCHECK CONSTRAINT [CK_WorkSchedule_Time]
GO
/****** Object:  StoredProcedure [dbo].[AddOrder]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddOrder]
    @p_customer_id INT,
    @p_admin_id INT,
    @p_payment_method NVARCHAR(50),
    @p_items NVARCHAR(MAX),
    @p_shipping_address NVARCHAR(255),
    @p_latitude FLOAT = NULL,
    @p_longitude FLOAT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_order_id INT;
    DECLARE @v_total DECIMAL(12,2) = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO [Order] (
            order_date, customer_id, status, total_amount,
            admin_id, payment_method, payment_status,
            shipping_address, latitude, longitude
        )
        VALUES (
            GETDATE(), @p_customer_id, N'Đang xử lý', 0,
            @p_admin_id, @p_payment_method, N'Chưa thanh toán',
            @p_shipping_address, @p_latitude, @p_longitude
        );

        SET @v_order_id = SCOPE_IDENTITY();

        INSERT INTO Order_Detail (order_id, product_id, quantity, unit_price)
        SELECT 
            @v_order_id,
            CAST(JSON_VALUE(value, '$.toy_id') AS INT),
            CAST(JSON_VALUE(value, '$.quantity') AS INT),
            CAST(JSON_VALUE(value, '$.unit_price') AS DECIMAL(10,2))
        FROM OPENJSON(@p_items);
SELECT @v_total = ISNULL(SUM(quantity * unit_price), 0)
        FROM Order_Detail
        WHERE order_id = @v_order_id;

        UPDATE [Order]
        SET total_amount = @v_total
        WHERE order_id = @v_order_id;

        COMMIT TRANSACTION;

        SELECT @v_order_id AS order_id;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Booking_Create]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Booking_Create]
  @customer_id        INT,
  @pet_id             INT,
  @doctor_id          INT = NULL,
  @staff_id           INT = NULL,
  @service_id         INT = NULL,
  @appointment_start  DATETIME2,
  @appointment_end    DATETIME2,
  @note               NVARCHAR(500) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  INSERT dbo.Booking
    (customer_id, pet_id, doctor_id, staff_id, service_id,
     appointment_start, appointment_end, status, note, created_at)
  VALUES
    (@customer_id, @pet_id, @doctor_id, @staff_id, @service_id,
     @appointment_start, @appointment_end, N'pending', @note, SYSDATETIME());
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelOrder]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure hủy đơn hàng và hoàn trả tồn kho
CREATE PROCEDURE [dbo].[CancelOrder]
    @p_order_id INT
AS
BEGIN
    UPDATE [Order] SET status = N'Đã hủy', payment_status = N'Hủy' WHERE order_id = @p_order_id;

    DECLARE @toy_id INT, @quantity INT;

    DECLARE cur CURSOR FOR
        SELECT toy_id, quantity FROM Order_Detail WHERE order_id = @p_order_id;

    OPEN cur;
    FETCH NEXT FROM cur INTO @toy_id, @quantity;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE Toy
        SET stock_quantity = stock_quantity + @quantity
        WHERE toy_id = @toy_id;

        FETCH NEXT FROM cur INTO @toy_id, @quantity;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
/****** Object:  StoredProcedure [dbo].[Cart_AddItem]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Cart_AddItem]
  @user_id INT,
  @product_id INT,
  @qty INT = 1
AS
BEGIN
  SET NOCOUNT ON;

  -- A) Kiểm tra sản phẩm có tồn tại không
  IF NOT EXISTS (SELECT 1 FROM dbo.Products WHERE product_id = @product_id)
  BEGIN
    RAISERROR (N'Product_id %d không tồn tại trong dbo.Products.', 16, 1, @product_id);
    RETURN;
  END

  DECLARE @cart_id INT;

  -- B) Lấy/tạo giỏ cho user
  SELECT @cart_id = cart_id FROM dbo.ShoppingCart WHERE user_id = @user_id;
  IF @cart_id IS NULL
  BEGIN
    INSERT INTO dbo.ShoppingCart(user_id) VALUES(@user_id);
    SET @cart_id = SCOPE_IDENTITY();
  END

  -- C) Thêm/cộng dồn vào giỏ
  MERGE dbo.CartItem AS tgt
  USING (SELECT @cart_id AS cart_id, @product_id AS product_id) AS src
    ON (tgt.cart_id = src.cart_id AND tgt.product_id = src.product_id)
  WHEN MATCHED THEN
      UPDATE SET quantity = quantity + @qty
  WHEN NOT MATCHED THEN
      INSERT(cart_id, product_id, quantity, unit_price)
      VALUES(@cart_id, @product_id, @qty, (SELECT price FROM dbo.Products WHERE product_id=@product_id));

  -- D) Trả lại giỏ
  SELECT * 
  FROM dbo.CartItem 
  WHERE cart_id = @cart_id;
END
GO
/****** Object:  StoredProcedure [dbo].[Cart_Checkout]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Cart_Checkout]
  @user_id INT,
  @shipping_address NVARCHAR(510),
  @payment_method NVARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;

  -- ====== validate ======
  IF @payment_method IS NULL OR LTRIM(RTRIM(@payment_method)) = ''
  BEGIN
    RAISERROR(N'payment_method is required.',16,1); RETURN;
  END

  DECLARE @cart_id INT;
  SELECT @cart_id = cart_id FROM dbo.ShoppingCart WHERE user_id=@user_id;

  IF @cart_id IS NULL OR NOT EXISTS(SELECT 1 FROM dbo.CartItem WHERE cart_id=@cart_id)
  BEGIN
    RAISERROR(N'Cart is empty.',16,1); RETURN;
  END

  BEGIN TRY
    BEGIN TRAN;

    -- ====== 1) tạo order (status: pending, payment_status: unpaid) ======
    DECLARE @order_id INT;

    INSERT INTO dbo.[Order](
        order_date, status, total_amount, payment_method, payment_status,
        shipping_address, customer_user_id, created_by
    )
    SELECT
        SYSUTCDATETIME(), 'pending', 0, @payment_method, 'unpaid',
        @shipping_address, @user_id, @user_id;

    SET @order_id = SCOPE_IDENTITY();

    -- ====== 2) chuyển giỏ -> order_detail ======
    INSERT INTO dbo.Order_Detail(order_id, product_id, quantity, unit_price)
    SELECT @order_id, ci.product_id, ci.quantity,
           ISNULL(ci.unit_price, p.price)
    FROM dbo.CartItem ci
    JOIN dbo.Products p ON p.product_id = ci.product_id
    WHERE ci.cart_id = @cart_id;

    -- ====== 3) tính tổng tiền ======
    UPDATE o
      SET total_amount = (
        SELECT SUM(od.quantity * od.unit_price)
        FROM dbo.Order_Detail od
        WHERE od.order_id = o.order_id
      )
    FROM dbo.[Order] o
    WHERE o.order_id = @order_id;

    -- ====== 4) tạo payment pending cho customer ======
    DECLARE @payment_id INT;

    INSERT INTO dbo.Payments(order_id, amount, method, status, created_at)
    SELECT @order_id, total_amount, @payment_method, 'pending', SYSUTCDATETIME()
    FROM dbo.[Order] WHERE order_id = @order_id;

    SET @payment_id = SCOPE_IDENTITY();

    -- ====== 5) xóa giỏ ======
    DELETE FROM dbo.CartItem     WHERE cart_id=@cart_id;
    DELETE FROM dbo.ShoppingCart WHERE cart_id=@cart_id;

    COMMIT;

    -- trả về cho frontend
    SELECT @order_id   AS order_id,
           @payment_id AS payment_id;

  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT>0 ROLLBACK;
    DECLARE @msg NVARCHAR(4000)=ERROR_MESSAGE();
    RAISERROR(@msg,16,1);
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ConfirmAndPayOrder]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure xác nhận thanh toán đơn hàng
CREATE PROCEDURE [dbo].[ConfirmAndPayOrder]
    @p_order_id INT,
    @p_payment_status NVARCHAR(50),
    @p_paid_at DATETIME
AS
BEGIN
    UPDATE [Order]
    SET payment_status = @p_payment_status,
        paid_at = @p_paid_at,
        status = N'Hoàn tất'
    WHERE order_id = @p_order_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetOrCreateOrderCart]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetOrCreateOrderCart]
    @customer_user_id INT,
    @order_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) đã có giỏ?
    SELECT TOP (1) @order_id = order_id
    FROM dbo.[Order]
    WHERE customer_user_id = @customer_user_id
      AND status = 'order'
    ORDER BY order_date DESC;

    IF @order_id IS NOT NULL RETURN;

    -- 2) chưa có → tạo mới
    INSERT INTO dbo.[Order] (order_date, status, total_amount, customer_user_id)
    VALUES (SYSUTCDATETIME(), 'order', 0, @customer_user_id);

    SET @order_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Payment_MarkPaid]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Payment_MarkPaid]
  @payment_id INT,
  @paid_by INT = NULL,                      -- user xác nhận
  @transaction_ref NVARCHAR(120) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
    BEGIN TRAN;

    -- A) Lấy payment + order
    DECLARE @order_id INT, @status NVARCHAR(30);
    SELECT @order_id = p.order_id, @status = p.status
    FROM dbo.Payments p
    WHERE p.payment_id = @payment_id;

    IF @order_id IS NULL
    BEGIN
      RAISERROR(N'Payment không tồn tại hoặc không gắn Order.', 16, 1);
      ROLLBACK; RETURN;
    END

    IF @status <> 'pending'
    BEGIN
      RAISERROR(N'Payment đã ở trạng thái %s (không thể xác nhận).', 16, 1, @status);
      ROLLBACK; RETURN;
    END

    -- B) Kiểm tra tồn kho đủ cho toàn bộ item của order
    IF EXISTS (
      SELECT 1
      FROM dbo.Order_Detail od
      JOIN dbo.Products pr ON pr.product_id = od.product_id
      WHERE od.order_id = @order_id
        AND ISNULL(pr.stock_quantity,0) < od.quantity
    )
    BEGIN
      RAISERROR(N'Tồn kho không đủ cho một số sản phẩm trong đơn.', 16, 1);
      ROLLBACK; RETURN;
    END

    -- C) Trừ tồn kho
    UPDATE pr
      SET pr.stock_quantity = pr.stock_quantity - od.quantity
    FROM dbo.Products pr
    JOIN dbo.Order_Detail od ON od.product_id = pr.product_id
    WHERE od.order_id = @order_id;

    -- D) Cập nhật Payments -> paid
    UPDATE dbo.Payments
      SET status = 'paid',
          paid_at = SYSUTCDATETIME(),
          transaction_ref = COALESCE(@transaction_ref, transaction_ref)
    WHERE payment_id = @payment_id;

    -- E) Cập nhật Order
    UPDATE dbo.[Order]
      SET payment_status = 'paid',
          paid_at = SYSUTCDATETIME(),
          paid_by = @paid_by,
          status = CASE WHEN status='pending' THEN 'processing' ELSE status END
    WHERE order_id = @order_id;

    COMMIT;

    SELECT @order_id AS order_id, @payment_id AS payment_id, N'paid' AS payment_status;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @msg NVARCHAR(4000)=ERROR_MESSAGE();
    RAISERROR(@msg,16,1);
  END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckBoardingAvailability]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CheckBoardingAvailability]
    @RoomType NVARCHAR(100),
    @CheckInDate DATETIME2,
    @CheckOutDate DATETIME2,
    @MaxRoomsPerType INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @OccupiedCount INT;
    DECLARE @AvailableCount INT;
    
    -- Đếm số phòng đang được thuê (có overlap về thời gian)
    SELECT @OccupiedCount = COUNT(*)
    FROM dbo.boarding_bookings
    WHERE room_type = @RoomType
        AND status IN (N'pending', N'Hoàn thành', N'Đã trả', N'Đã thanh toán', N'Đang thuê', N'Chờ xác nhận')
        AND NOT (check_out_date <= @CheckInDate OR check_in_date >= @CheckOutDate);
    
    -- Tính số phòng còn trống
    SET @AvailableCount = @MaxRoomsPerType - @OccupiedCount;
    IF @AvailableCount < 0 SET @AvailableCount = 0;
    
    -- Trả về kết quả
    SELECT 
        @RoomType AS room_type,
        @MaxRoomsPerType AS total_rooms,
        @OccupiedCount AS occupied_count,
        @AvailableCount AS available_count,
        CASE WHEN @AvailableCount > 0 THEN 1 ELSE 0 END AS is_available;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPagedBooking]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPagedBooking]
    @page INT,
    @pageSize INT,
    @startDate DATETIME = NULL,
    @endDate DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @totalCount INT;

    SELECT @totalCount = COUNT(*)
    FROM Booking
    WHERE (@startDate IS NULL OR appointment_start >= @startDate)
      AND (@endDate IS NULL OR appointment_start < DATEADD(DAY, 1, @endDate));

    SELECT 
        booking_id,
        customer_id,
        pet_id,
        appointment_start,
        appointment_end,
        status,
        note,
        created_at,
        updated_at,
        doctor_id,
        staff_id,
        order_id,
        @totalCount AS totalCount
    FROM Booking
    WHERE (@startDate IS NULL OR appointment_start >= @startDate)
      AND (@endDate IS NULL OR appointment_start < DATEADD(DAY, 1, @endDate))
    ORDER BY appointment_start DESC
    OFFSET (@page - 1) * @pageSize ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_recalc_order_payment_status]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_recalc_order_payment_status] @order_id INT
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @total DECIMAL(12,2) =
    (SELECT total_amount FROM dbo.[Order] WHERE order_id=@order_id);

  DECLARE @net_paid DECIMAL(12,2) =
    (SELECT ISNULL(SUM(CASE
              WHEN LOWER(LTRIM(RTRIM(status))) IN ('paid','success') THEN amount
              WHEN LOWER(LTRIM(RTRIM(status))) = 'refunded'          THEN -amount
              ELSE 0 END),0)
     FROM dbo.Payments
     WHERE order_id=@order_id);

  DECLARE @new_code VARCHAR(16) =
    CASE WHEN @net_paid <= 0                          THEN 'unpaid'
         WHEN @net_paid <  @total                     THEN 'partial'
         ELSE 'paid' END;

  UPDATE dbo.[Order]
  SET payment_status = @new_code
  WHERE order_id=@order_id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStockAfterOrder]    Script Date: 11/15/2025 3:38:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure cập nhật tồn kho sau khi duyệt đơn
CREATE PROCEDURE [dbo].[UpdateStockAfterOrder](@p_order_id INT)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @toy_id INT, @quantity INT;

    DECLARE cur CURSOR FOR
        SELECT toy_id, quantity FROM Order_Detail WHERE order_id = @p_order_id;

    OPEN cur;
    FETCH NEXT FROM cur INTO @toy_id, @quantity;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE Toy
        SET stock_quantity = stock_quantity - @quantity
        WHERE toy_id = @toy_id;

        FETCH NEXT FROM cur INTO @toy_id, @quantity;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
USE [master]
GO
